
/* Estilo general para los hipervínculos */
a {
    color-scheme: #CC0000; /* Color del texto del enlace */
    text-decoration: none; /* Quita la subrayado por defecto del enlace */
  }
  
  /* Estilo cuando el enlace está siendo visitado */
  a:visited {
    color-scheme: #CCC; /* Color del texto del enlace visitado */
  }
  
  /* Estilo cuando el enlace es señalado con el cursor */
  a:hover {
    background-color: #CC0000;
    color-scheme: #FFF; /* Color del texto del enlace al pasar el cursor sobre él */
    text-decoration: underline; /* Subrayado al pasar el cursor sobre el enlace */
  }
  
  /* Estilo cuando el enlace está activo, por ejemplo, al hacer clic */
  a:active {
    color: green; /* Color del texto del enlace activo */
  }