#div1{

    align-items: center;
    align-content: center;

}

#table1{

    width: auto;
    align-content: center;
    
}

#formulario1 {

    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;

}